@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html,
body {
  overscroll-behavior-y: contain;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #f2f2f7;
  color: #1c1c1e;
}

* {
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
  }
}
